.game {
    height: 100vh - (var(--headerHeight) + var(--footerHeight));
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding-top: var(--headerHeight);
    padding-bottom: var(--footerHeight);
    z-index: 1;
}

.start-effect {
    /* filter: blur(5px); */
    -webkit-animation: start 7s infinite linear;
}
@-webkit-keyframes start {
    0% {
        filter: sepia(80%) blur(5px) 
    }
    25% {
        filter: sepia(100%) blur(7px)
    }
    50% {
        filter: sepia(50%) blur(7px)
    }
    75% {
        filter: sepia(20%) blur(3px)
    }
}

.image-container {
    position: relative;
    padding-top: 2em;
}

.riddle-image {
    height: var(--imagesize);    
    border-radius: 3%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}



.picture-loading {
    -webkit-animation: name 4s infinite linear;
}
@-webkit-keyframes name {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
}}


.refresh-icon {
    color: black;
    position: absolute;
    z-index: 1;
    top: 55px;
    right: 5px;
}

.refresh-icon:hover {
    transform: scale(1.1);
    rotate: 100deg;
    transition: 1s;
    /* animation: rotate 2s linear infinite; */
}

.refresh-icon:not(:hover) {
    transition: 1s;
}



/* @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */



.points-container {
    background-color: black;
    padding: 40px;
    border-radius: 100%;
    position: absolute;
    left: -70px;
    bottom: -50px;
    z-index: 1;
    color: #c2c2c2;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    transition: 1s;
}

.points-container-vanish {
    transform: scale(0);
    transition: 0.7s;
}


.points-container p {
    margin-top: 20px;    
}

.points-container h3 {
    font-size: 48px;
    letter-spacing: 0.1em;
}


.riddle-container {
    max-width: 700px;
    height: 70px;
    padding-top: 30px;
    font-size: larger;
    line-height: 1.2em;
    color: black;
}



.hints-container {
    position: absolute;
    bottom: 20px;
    right: 27px;
    background-color: rgba(128, 128, 128, 0.75);
    width: 90%;
    border-radius: 10px;
    color: black; 
    font-size: smaller;  
    transition: 1.3s;
}

.hints-container-vanish {
        transform: scale(0);
        transition: 0.7s;
}

.hints-list {
    list-style: none;
    line-height: 1.5em;
}


.input-container {
    position: relative;
    padding-top: 50px;
    width: 512px;
}


.input-box {
    position: absolute;
    left :0;
    bottom: 0;
    height: 50px;
    width: 512px;
    font-family: var(--font1);
    font-size: 24px;
    text-align: center;
    background-color: #c2c2c2;
    border: none;
   border-bottom: 5px solid var(--color3);
   
}

.input-box:focus {
   outline: none;
   border: none;
   border-bottom: 5.5px solid var(--color3);
   transition: 0.3s;
   box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.input-box:not(:focus) {
    transition: 0.3s;
}

.input-box::placeholder {
    color: #929292;
}

.input-box:focus::placeholder {
    color: #c2c2c2;
}

.submit-button {
    width: 175px;
    box-shadow: none;
    position: absolute;
    bottom: -15px;
    right: -80px;
    background-color: var(--color3);
    padding: 35px;
    color: black;
    border-radius: 100%;
    font-family: var(--font2);
    font-size: 24px;
    letter-spacing: 0.07em;
    border: 1px solid black;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    
  transition: box-shadow 0.2s;  

}

.submit-button:hover {
    transform: rotate(-2deg) scale(1.05);
    transition: 0.5s;
}

.submit-button:not(:hover) {
    transition: 0.5s;
}

.submit-button:active {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}


.submit-button-disabled {
    box-shadow: none;
    position: absolute;
    bottom: -15px;
    right: -80px;
    background-color: var(--color2);
    padding: 35px;
    color: black;
    border-radius: 100%;
    font-family: var(--font2);
    font-size: 24px;
    letter-spacing: 0.07em;
    border: 1px solid black;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}


.notice {
    position: absolute; 
    top: 20px; 
    font-size: 12px;
    color: gray;
}


.control {
    width: 512px;
    display: flex;
   height: 80px;
   justify-content: center;
   gap: 75px;
    margin-bottom: 50px;
}

.control-buttons {
    width: 35%;
    background-color: var(--color3);
    border-radius: 10px;
    font-family: var(--font2);
    font-size: 36px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.control-buttons:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.control-buttons:not(:hover) {
    transition: 0.5s;
}

.solution-title {
    color: var(--color3);
}

.solution {
    font-size: 36px;
    color: var(--color3);
    letter-spacing: 0.3em;
    line-height: 1.5em;
}

.winning-puzzle {
    color: var(--color2);
    -webkit-text-stroke: 1px var(--color3);
}
