.footer {
    width: 100%;
    height: var(--footerHeight);
    background-color: var(--color3);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-line {
    height: 5px;
    background-color: black;;
}