.header {
    position: fixed;  
    top: 0;
    left: 0;
    right: 0;
    height: var(--headerHeight);
    width: 100%;
    color: var(--color2);
    background-color: var(--color3);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
  }
  
.header-title {
  position: relative;
  margin-bottom: 35px;
  font-size: larger;
  color: var(--color3);
  text-shadow: 1px 1px white;
}

  .header-line {
    height: 10px;
    width: 100%;
    background-color: black;
    position: fixed;
  }

  .header-content {
    width: 700px;
    height: var(--headerHeight);
 display: flex;
 justify-content: flex-end;
 gap: 15px;
  }


  .submissions {
    width: 64px;
    animation: lookAtMe 0.5s linear;
  }

  @keyframes lookAtMe{
    0%{
        transform: scale(10);
    }
    50%{
        transform: scale(5);
    }
    100%{
        transform: scale(1) 
    }
  }

.submissions:hover {
  filter: drop-shadow(0px 5px 2px black);
  transform: scale(1.05) rotate(10deg);
  transition: 0.3s;
}

.submissions-leftwards:hover {
  transform: rotate(-10deg) scale(1.05);
}

.submissions:not(:hover) {
  transition: 1s;
}

.header .popup {
  display: flex;
  align-items: center;
}
