@font-face {
  font-family: Alphakind;
  src: url('./assets/fonts/Alphakind.otf');
  font-family: DieBruecke;
  src: url('./assets/fonts/DieBruecke.otf')
}

/* @font-face {
  
} */


:root {
  --color1: #f5f5b8;
  --color2: #ffb852;
  --color3: #328e13;
  --color4: #96bfe6;

  --font1: Alphakind;
  --font2: DieBruecke;

  --headerHeight: 100px;
  --footerHeight: 70px;


  font-family: var(--font1);
  font-size: 24px;
  line-height: 24px;

  color: var(--color3);
  background-color: #c2c2c2;

  text-align: center;
  
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

* {
  padding: 0;
  margin: 0;
}

